# ros2
*/include
*/build
*/log
*/install
*/CMakeFiles
.vscode

# Vivado
vivado/**/*.cache/
vivado/**/*.runs/
vivado/**/*.hw/
vivado/**/*.gen/
vivado/**/*.sim/
vivado/**.ip_user_files/
vivado/**.gen
vivado/*.xpr.user
vivado/**/sim_scripts/

# Vitis Platform
vitis/**/export/
vitis/**.o
vitis/**.d
vitis/**/tempdsa
vitis/**/ps7_cortexa9_0
vitis/.metadata/

# Vitis Application
vitis/**/Debug/
vitis/**/Release/

# Stm32cube
stm32workspace/.metadata/
stm32workspace/**/.settings/